.ico {
    position: relative;
    transform: rotateX(200deg);
}

.w-150 {
    width: 150px !important;
    overflow: auto;
}

.CategoriesContainer .overflow {
    display: flex !important;
    overflow-x: auto !important;
    /* flex-wrap: wrap; */
    width: 100% !important;
    align-items: center !important;
    gap: 0.5rem !important;
}

.CategoriesContainer .overflow  {
    -ms-overflow-style: none !important;
    /* Internet Explorer 10+ */
    scrollbar-width: none !important;
    /* Firefox */
}
.input{
    outline: none;
    border: none;
}
.product_card small,
.product_card strong {
  display: block;
}

.product_card .card-header {
  position: relative;
  overflow: hidden;
}

.product_card .card-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 1s ease;
}
.product_card .card:hover .card-overlay {
  top: 0%;
}

.product_card .card .details-btn .btn {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  border-radius: 0;
  transition: bottom 1s ease;
}
.product_card .card:hover .details-btn .btn {
  bottom: 0%;
}

.product_card .card .card-body {
  padding: 10px 0;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.CategoriesContainer .overflow::-webkit-scrollbar {
    display: none !important;
    /* Safari and Chrome */
}
.img-card{
    width: 200px;
    height: 120px;
    object-fit: contain;
}
.total{
    position: fixed;
    bottom:  0;

}
.line-height{
    line-height: 10rem;
}
.border{
    border-top: solid 1px #a1a1a1 !important;
}
@media (max-width:992px){
    .img-card{
        width: 150px;
        height: 120px;
    
    }
}
.card{
    border: solid 1px #000;
}
@media (min-width: 768px) {
    .CategoriesContainer {
        align-items: center !important;
        flex-direction: row !important;
    }
}